@page "/Coin/{Id:int}"

@*Name: @data.Name <img src="@data.LogoPath"/> <br />
Symbol: @data.Symbol <br />
Description: @data.Description <br />
Website: 
@foreach(string web in data.Urls.Website)
{
    <a href="@web">@web</a>
}<br />
Technical Document: 
@foreach(string doc in data.Urls.TechnicalDoc)
{
    <a href="@doc">@doc</a>
}<br />
Tags: 
@foreach(string tag in data.Tags)
{
   <CryptoTracker.Web.Components.Pill>@tag</CryptoTracker.Web.Components.Pill>
}<br />*@

@if(loading)
{
    <CryptoTracker.Web.Components.LoadingSpinner/>
}
else
{
    <CryptoTracker.Web.Components.CoinDetails Coin="data"/>
}

@code {
    [Parameter]
    public int Id { get; set; }
    bool loading = false;
    CoinMarketCapMetaDataModel data { get; set; }

    public Coin()
    {
        data = new CoinMarketCapMetaDataModel();
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        data = await CoinMarketCapMetaData.GetCoinMetaData(Id);
        loading = false;
    }
}
