<div class="text-center">
    <img src="@Coin.image.thumb" /> @Coin.Name (@Coin.Symbol)<br />
</div>
<br />
<p class="text-center">@((MarkupString)Coin.description.en)</p>
<br />
Website:
@foreach (string site in Coin.links.blockchain_site)
{
    <a href="@site">@site</a>
}
<br />
@code {
    [Parameter]
    public CoinGeckoMetaDataModel Coin { get; set; }

    public CoinDetails()
    {
        Coin = new CoinGeckoMetaDataModel();
    }
}
