<div class="text-center">
    <img src="@Coin.LogoPath" /> @Coin.Name (@Coin.Symbol)<br />
</div>
<br />
Description: <p>@Coin.Description</p>
<br />
Website:
@foreach (string web in Coin.Urls.Website)
{
    <a href="@web">@web</a>
}
<br />
Tags:
@foreach (string tag in Coin.Tags ?? Enumerable.Empty<string>())
{
    <Pill>@tag</Pill>
}
<br />
<TrendingTweets CoinName="@Coin.Name"/>
@code {
    [Parameter]
    public CoinMarketCapMetaDataModel Coin { get; set; }

    public CoinDetails()
    {
        Coin = new CoinMarketCapMetaDataModel();
    }
}
